@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed|Lato|Lora|Fira+Sans");

/* title page */
.book .book-body .page-wrapper .page-inner section.normal h1.title {
  font-size: 250%;
  font-family: 'Fira Sans', Karla, 'Roboto Condensed', Lora, Lato, Roboto, sans;
  font-style: normal;
  font-weight: 100;
}

.book .book-body .page-wrapper .page-inner section.normal .author .noem {
  display: block;
  margin: 0 0 10px 0;
  font-size:  125%;
  font-style:  normal;
  font-variant:  small-caps;
  font-weight: 200;
  font-family: 'Roboto Condensed', 'Fira Sans', Roboto, 'Open Sans', sans;
}

.book .book-body .page-wrapper .page-inner section.normal .author a {
  display: block;
  margin: 0 0 10px 0;
  font-size:  100%;
  font-style:  normal;
  /*font-variant:  small-caps;  so that can displayed as input*/
  font-weight: 200;
  font-family: 'Roboto Condensed', 'Fira Sans', Roboto, 'Open Sans', sans;
}



.book .book-body .page-wrapper .page-inner section.normal a.uri {
  display: block;
  margin: 0 0 10px 0;
  font-size:  75%;
  font-style:  normal;       /* ignored thanks to bootstrap random enforcement of em*/
  font-variant:  small-caps;
  font-family:  Roboto, 'Open Sans', sans;
}

.book .book-body .page-wrapper .page-inner section.normal h4.date {
  font-style: normal;
  font-size:  100%;
  font-family: 'Open Sans', sans;
}

/* main */

.book  {
  background-color: #ffffff;
}

.section {
  background-color: #ffffff;
}



.book .book-body .page-wrapper .page-inner section.normal {
    display: block;
    background-color: #ffffff;
    color: #585858;
    padding: 0 0 10px 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.7;
  
}

.book .book-body {
    background: #ffffff;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}

/* link effects */
.book .book-body .page-wrapper .page-inner section.normal a {
    color: #6839f1;
    background-image: linear-gradient(180deg,transparent 90%, #6839f1 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size .4s ease;
    -moz-transition: background-size .4s ease;
    -ms-transition: background-size .4s ease;
    -o-transition: background-size .4s ease;
    transition: background-size .4s ease;
    border-bottom: 0px solid;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  text-decoration: none;
    background-size: 100% 100%;
    cursor: pointer;
}

.body-inner {
    background-color: #ffffff;
}

.book .book-body .page-wrapper {
    position: relative;
    outline: 0;
    background-color: #ffffff;
}

.book .book-body .page-wrapper .page-inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 8px;
}

.book .book-header {
    overflow: visible;
    height: 48px;    /* adjust to match title space*/
    padding: 0 8px;
    z-index: 2;
    font-family: Roboto sans-serif;
    font-size: .85em;
    color: #7e888b;
    background-color: #ffffff;
    /* background: 0 0; */
}

/* only way to set bgcolor of top bar?*/
.book-body.fixed {
  background-color: #ffffff;
}

/* Rather than resize the header, just get rid of line */
.book.with-summary .book-header.fixed {
  background-color: #ffffff;
  font-variant: small-caps;
  /*font-family: Stalemate Roboto Sans; ignored as all it is doing is taking from index title*/
  border-bottom: 0 solid rgba(0,0,0,.07);  /*just remove it; this makes height in .book-header above moot*/
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.07);
}

i {
  background-color: #ffffff;
}

/* toc area general */
.book .book-summary {
    position: absolute;
    font-family: "Open Sans", 'Helvetica Neue', Roboto, sans-serif;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #364149;  /**/
    background: #f5f5f540; /* #eaf5fb;  #d9edf7#bdcadb #3572D9 #fafafa*/
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}

/* nav/menu area */
.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    display: block;
    padding: 10px 25px;
    border-bottom: none;
    color: #364149; /**/
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-family: Lato,'Roboto Condensed', sans;
    /* font-variant: small-caps; */
}


.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #ffffff;  /*#6197D5*/
  background-color: #56029d;
}

/* so that before and after aren't treated the same as the toc, because why would they? */
.book .book-summary ul.summary li.before a {
  color: #56029d;
  text-decoration: none;
  font-size: 125%;
  font-variant: small-caps;
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'Open Sans', Roboto, sans-serif;
  font-weight: 500;
}


.book .book-summary ul.summary li.before a:hover,
.book .book-summary ul.summary li.before li.active>a {
  color: #ffffff;  /*#6197D5*/
  background-color: #56029d;
  text-decoration: none;
}

.book .book-summary ul.summary li.after a, .book .book-summary ul.summary li.after a:hover {
  background-color: transparent;
}

/* divider line for the title before and other stuff  after toc */
.book .book-summary ul.summary li.divider{
    height:1px;
    margin:7px 0;
    overflow:hidden;
    background:rgba(0,0,0,.07)
}

.book .book-body .page-wrapper .page-inner section.normal pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0 0 1.275em;
    padding: .85em 1em;
    background: #fafafa;  /*match this to p width*/
}


.book .book-body .page-wrapper .page-inner section.normal code,
.book .book-body .page-wrapper .page-inner section.normal pre {
    font-family: 'Roboto Mono', Monaco, Consolas, "Liberation Mono", Menlo, 'Courier New', monospace;
    direction: ltr;
    border: none;
    color: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal .note {
  background-color: #fafafa;
  /*background-image: url('../img/R.ico');*/
  font-size: 80% ;
  margin: 5% 0;
  font-weight: 500;
  max-width: 75%;
  border-width: 10px;
  border-color: #bfbfbf;
  box-shadow: 10px 10px 5px #EBEBEB; /*#888888*/
  padding: 1em;
}

/* headers */

h1, h2, h3, h4, h5 {
  color:#56029d;
  font-family: 'Roboto Condensed';
}

/* marginnote, sidenotes, footnotes */
.book .book-body .page-wrapper .page-inner section.normal .marginnote span.mjx-chtml, span.mjx-block {
    display: block;
    font-size: 80%;
}

.book .book-body .page-wrapper .page-inner section.normal .footnotes p, ol {
  width: 100%;
  font-size: 90%;
}

.img-note {
  vertical-align: central;
  width: 2em;
}

.footnotes {
  color: #00000080;
}


.book .book-body .page-wrapper .page-inner section.normal dl,
.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal p,
.book .book-body .page-wrapper .page-inner section.normal ul {
    margin-top: 0;
    margin-bottom: .85em;
}

/* marginnotes */
.book .book-body .page-wrapper .page-inner section.normal .marginnote span.mjx-chtml, span.mjx-block {
    display: block;
    font-size: 60%;
}

.book .book-body .page-wrapper .page-inner section.normal .marginnote {
  float: right;
  clear: right;
  margin-right: -45%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 75%;
  line-height: 1;
  vertical-align: middle;
  position: relative;
}



/* code */

/* logical NA */
.ot {
 color: #337ab7;
}

/* char/string */
.ch, .st {
 color: #aa5500;
}

/* args */
.dt {

}

/* package */
code span.st {
 color: #aa5500;
}

/* float, other */
.fl, .dv {
 color: #23527c;
}

/* override pygments setting code to a tag */
.book .book-body .page-wrapper .page-inner section.normal pre code a {
  color: #585858;
}



/* creative commons, github icons */
.fab .fa-creative-commons, .fa-creative-commons-sa, .fa-creative-commons-by, .fa-github, .fa-lg {
  color: #56029d;
  background-color: transparent;
}

